.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 5071px;
  position: relative;
  overflow: hidden;
}
.download-1 {
  width: 279px;
  height: 353px;
  position: absolute;
  left: 406px;
  top: 2811px;
  object-fit: cover;
}
.rectangle-27 {
  background: #1e1e1e;
  width: 1443px;
  height: 861px;
  position: absolute;
  left: -3px;
  top: 4169px;
}
.layer-1 {
  width: 29px;
  height: 24px;
  position: absolute;
  left: 1196px;
  top: 4632px;
  overflow: visible;
}
.layer-12 {
  width: 1.18%;
  height: 0.53%;
  position: absolute;
  right: 13.19%;
  left: 85.62%;
  bottom: 20.09%;
  top: 79.37%;
  overflow: visible;
}
.layer-13 {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 1160px;
  top: 4630px;
  overflow: visible;
}
.layer-14 {
  width: 26px;
  height: 24px;
  position: absolute;
  left: 1126px;
  top: 4632px;
  overflow: visible;
}
.rectangle-18 {
  background: #1e1e1e;
  width: 1452px;
  height: 530px;
  position: absolute;
  left: calc(50% - 728px);
  top: 1925px;
}
.rectangle-1 {
  background: #eeeeee;
  width: 1443px;
  height: 75px;
  position: absolute;
  left: -3px;
  top: 0px;
}
.rectangle-2 {
  background: #ffffff;
  width: 1443px;
  height: 128px;
  position: absolute;
  left: calc(50% - 723px);
  top: 75px;
}
.rectangle-3 {
  background: #15ff15;
  width: 1443px;
  height: 75px;
  position: absolute;
  left: -3px;
  top: 203px;
}
.get-it-in-time-to-gift-it-see-shipping-times-to-your-location {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 306px);
  top: 226px;
  width: 609px;
  height: 29px;
}
.get-it-in-time-to-gift-it-see-shipping-times-to-your-location-span {
  color: #ffffff;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.get-it-in-time-to-gift-it-see-shipping-times-to-your-location-span2 {
  color: #ffffff;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.get-it-in-time-to-gift-it-see-shipping-times-to-your-location-span3 {
  color: #ffffff;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 209px;
  position: absolute;
  left: 822px;
  top: 370px;
}
.bike-proof {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.ellipse-1 {
  background: #2115ff;
  border-radius: 50%;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
}
.shop {
  width: 60px;
  height: 29px;
  position: absolute;
  left: 1015px;
  top: 134px;
}
.layer-15 {
  width: 68px;
  height: 68px;
  position: absolute;
  left: 79px;
  top: 4657px;
  overflow: hidden;
}
.vector {
  width: 99.99%;
  height: 99.99%;
  position: absolute;
  right: 0.01%;
  left: 0%;
  bottom: 0.01%;
  top: 0%;
  overflow: visible;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-4 {
  width: 721px;
  height: 600px;
  position: absolute;
  left: 717px;
  top: 277px;
  overflow: visible;
  object-fit: cover;
}
.rectangle-17 {
  width: 723px;
  height: 600px;
  position: absolute;
  left: -3px;
  top: 277px;
  object-fit: cover;
}
.ride-smart-stay-protected {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 221px);
  top: 475px;
  width: 438px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-10 {
  width: 315px;
  height: 378px;
  position: absolute;
  left: 68px;
  top: 2809px;
  object-fit: cover;
}
.rectangle-9 {
  width: 2071px;
  height: 756px;
  position: absolute;
  left: calc(50% - 1296px);
  top: 1699px;
  object-fit: cover;
}
.oip-1 {
  width: 270px;
  height: 280px;
  position: absolute;
  left: 1058px;
  top: 2809px;
  object-fit: cover;
}
.rectangle-14 {
  background: #1e1e1e;
  width: 1452px;
  height: 666px;
  position: absolute;
  left: calc(50% - 728px);
  top: 3384px;
}
.rectangle-16 {
  width: 787px;
  height: 655px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3384px;
  object-fit: cover;
}
.rectangle-15 {
  background: #15ff34;
  width: 1452px;
  height: 130px;
  position: absolute;
  left: calc(50% - 728px);
  top: 4039px;
}
.rectangle-12 {
  width: 314px;
  height: 378px;
  position: absolute;
  left: 728px;
  top: 2809px;
  object-fit: cover;
}
.photo-5-2024-12-10-15-58-37-1 {
  width: 504px;
  height: 322px;
  position: absolute;
  left: 923px;
  top: 1317px;
  object-fit: cover;
}
.dry-ass-is-the-ultimate-bike-saddle-cover-designed-for-durability-style-and-eco-conscious-riders-waterproof-easy-to-install-and-made-from-recycled-materials-it-protects-your-saddle-while-keeping-your-rides-hassle-free {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: lowercase;
  position: absolute;
  left: 157px;
  top: 1017px;
  width: 1047px;
  height: 73px;
}
.at-bike-proof-we-design-for-riders-who-demand-the-best-our-customers-are-passionate-cyclists-from-daily-commuters-to-trailblazing-adventurers-who-value-sustainability-durability-and-innovation-in-every-ride-join-a-growing-community-that-prioritizes-eco-friendly-solutions-without-compromising-performance {
  color: #000000;
  text-align: center;
  font-family: "PtSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 162px;
  top: 2632px;
  width: 1047px;
  height: 73px;
}
.meet-dryass {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 247px;
  top: 945px;
  width: 878px;
  height: 73px;
}
.our-customers {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 247px;
  top: 2559px;
  width: 878px;
  height: 73px;
}
.text {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 247px;
  top: 981px;
  width: 878px;
  height: 73px;
}
.button-default {
  background: #15ff34;
  border-radius: 416px;
  padding: 20px 63px 20px 63px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 302px;
  height: 97px;
  position: absolute;
  left: calc(50% - 185px);
  top: 1163px;
}
.get-yours-for-30 {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.702deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.eco-friendly {
  color: #000000;
  text-align: left;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 67px;
  top: 1639px;
  width: 221px;
  height: 38px;
}
.durable {
  color: #000000;
  text-align: left;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 397px;
  top: 1639px;
  width: 220px;
  height: 38px;
}
.sustainable {
  color: #000000;
  text-align: left;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 727px;
  top: 1639px;
  width: 220px;
  height: 38px;
}
.easy-to-use {
  color: #000000;
  text-align: left;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1125px;
  top: 1644px;
  width: 221px;
  height: 38px;
}
.shop2 {
  width: 106px;
  height: 29px;
  position: absolute;
  left: 535px;
  top: 124px;
}
.shop3 {
  color: #1e1e1e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.shop4 {
  width: 209px;
  height: 29px;
  position: absolute;
  left: 687px;
  top: 124px;
}
.shop5 {
  width: 113px;
  height: 29px;
  position: absolute;
  left: 942px;
  top: 124px;
}
.shop6 {
  color: #1e1e1e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: -1.77%;
  left: 0%;
  width: 101.77%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.why-do-you-need-dryass {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 67.24px;
  top: 2024.2px;
  width: 423.82px;
  height: 98.96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frrr {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: lowercase;
  position: absolute;
  left: 67.24px;
  top: 2147.15px;
  width: 608.17px;
  height: 102.96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-default2 {
  background: #15ff34;
  border-radius: 416px;
  padding: 20px 63px 20px 63px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 363.7px;
  height: 85.97px;
  position: absolute;
  left: 67.24px;
  top: 2279.09px;
}
.get-yours-for-302 {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.702deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mark-t-mountain-biker {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 153px;
  top: 3252px;
  width: 143px;
  height: 28px;
}
.alex-g-urban-commuter {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 483px;
  top: 3252px;
  width: 142px;
  height: 28px;
}
.ethan-r-triathlete {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 813px;
  top: 3252px;
  width: 142px;
  height: 28px;
}
.laura-s-road-cyclist {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1142px;
  top: 3252px;
  width: 143px;
  height: 28px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.rectangle-22 {
  background: #ffffff;
  width: 427.83px;
  height: 222.91px;
  position: absolute;
  left: 999.04px;
  top: 3029.8px;
  filter: blur(36.9px);
}
.rectangle-23 {
  background: #ffffff;
  width: 427.83px;
  height: 222.91px;
  position: absolute;
  left: 670.41px;
  top: 3029.8px;
  filter: blur(36.9px);
}
.rectangle-24 {
  background: #ffffff;
  width: 427.83px;
  height: 222.91px;
  position: absolute;
  left: 341.77px;
  top: 3029.8px;
  filter: blur(36.9px);
}
.rectangle-25 {
  background: #ffffff;
  width: 427.83px;
  height: 222.91px;
  position: absolute;
  left: 13.14px;
  top: 3029.8px;
  filter: blur(36.9px);
}
.bike-proof-s-saddle-cover-is-incredible-it-s-durable-waterproof-and-perfect-for-tackling-tough-trails-every-weekend {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  position: absolute;
  left: 92px;
  top: 3089px;
  width: 261px;
  height: 140px;
}
.bike-proof-is-a-lifesaver-it-s-durable-weatherproof-and-an-ideal-companion-for-daily-commutes {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  position: absolute;
  left: 424px;
  top: 3094px;
  width: 260px;
  height: 140px;
}
.training-in-all-conditions-is-easier-now-this-cover-protects-my-saddle-and-fits-perfectly-every-time {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  position: absolute;
  left: 754px;
  top: 3094px;
  width: 260px;
  height: 140px;
}
.i-ride-every-day-and-this-cover-keeps-my-saddle-pristine-love-the-eco-friendly-and-stylish-design {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  position: absolute;
  left: 1083px;
  top: 3094px;
  width: 261px;
  height: 140px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.our-vision {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 67.24px;
  top: 3595.57px;
  width: 641.24px;
  height: 57.98px;
}
.become-the-benchmark-for-innovative-durable-accessories-for-cyclists-in-europe-and-around-the-world {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 67.24px;
  top: 3669.54px;
  width: 549.06px;
  height: 83.97px;
}
.button-default3 {
  background: #15ff34;
  border-radius: 416px;
  padding: 20px 63px 20px 63px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 363.7px;
  height: 85.97px;
  position: absolute;
  left: 67.24px;
  top: 3798.49px;
}
.join-our-newsletter {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 270px);
  top: 4266px;
  width: 536px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 319.62px;
  height: 0px;
  position: absolute;
  left: 558.19px;
  top: 4436.24px;
}
.e-mail {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 558.19px;
  top: 4407.25px;
  width: 84.16px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-26 {
  background: #15ff34;
  width: 1440px;
  height: 41px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 5030px;
}
.frame-2 {
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 210px;
  position: absolute;
  left: 67px;
  top: 4576px;
}
.bike-proof2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.ellipse-12 {
  background: #15ff34;
  border-radius: 50%;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.faq {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 424.93px;
  top: 4635.16px;
  width: 47.09px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wholesale {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 660.39px;
  top: 4635.16px;
  width: 137.27px;
  height: 16.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-story {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 886.83px;
  top: 4635.16px;
  width: 137.27px;
  height: 16.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.warranty {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 424.93px;
  top: 4666.14px;
  width: 117.23px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gifting-policy {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 660.39px;
  top: 4666.14px;
  width: 162.31px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.employees {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 886.83px;
  top: 4666.14px;
  width: 162.31px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.help {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 424.93px;
  top: 4583.18px;
  width: 117.23px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.get-in-touch {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 660.39px;
  top: 4583.18px;
  width: 147.28px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 886.83px;
  top: 4583.18px;
  width: 147.28px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.follow-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1126.29px;
  top: 4583.18px;
  width: 147.28px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.returns {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 424.93px;
  top: 4697.13px;
  width: 117.23px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.media {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 660.39px;
  top: 4697.13px;
  width: 117.23px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.partners {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 886.83px;
  top: 4697.13px;
  width: 117.23px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.support {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 424.93px;
  top: 4728.12px;
  width: 117.23px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.work-with-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 660.39px;
  top: 4728.12px;
  width: 159.31px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.blogpost {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 886.83px;
  top: 4728.12px;
  width: 159.31px;
  height: 19.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.manage-cookies-copyright-2024-all-rights-reserved {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 5037px;
  width: 744px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-8 {
  width: 6.4%;
  height: 0.85%;
  position: absolute;
  right: 4.81%;
  left: 88.79%;
  bottom: 96.75%;
  top: 2.4%;
  overflow: visible;
}
.shop7 {
  width: 60px;
  height: 29px;
  position: absolute;
  left: 429px;
  top: 124px;
}
.shop8 {
  color: #1e1e1e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 1.67%;
  left: 0%;
  width: 98.33%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.photo-1-2024-12-10-15-58-37-1 {
  border-radius: 18px;
  width: 305px;
  height: 341px;
  position: absolute;
  left: 25px;
  top: 1279px;
  object-fit: cover;
}
.photo-2-2024-12-10-15-58-37-1 {
  width: 360px;
  height: 368px;
  position: absolute;
  left: 342px;
  top: 1279px;
  object-fit: cover;
}
.photo-3-2024-12-10-15-58-37-1 {
  width: 339px;
  height: 387px;
  position: absolute;
  left: 657px;
  top: 1260px;
  object-fit: cover;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.group-9 {
  width: 151.29px;
  height: 156.94px;
  position: static;
}
.ellipse-2 {
  background: #ffffff;
  border-radius: 50%;
  width: 151.29px;
  height: 150.94px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 313.88px;
}
.ellipse-3 {
  border-radius: 50%;
  width: 151.29px;
  height: 150.94px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 307.88px;
  object-fit: cover;
}
.bike-proof3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  left: 18px;
  top: 122px;
  width: 206px;
  height: 80px;
}
